{
    "printWidth": 240,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "bracketSpacing": true,
    "eslintIntegration": false,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": true,
    "trailingComma": "all",
    "singleQuote": false,
    "tslintIntegration": false
}
